Flask==3.1.2
flask-cors==6.0.1
Flask-Login==0.6.3
gunicorn==23.0.0

matplotlib==3.10.6
numpy==2.3.3
pandas==2.3.3
pillow==11.3.0
fpdf2==2.8.4

SQLAlchemy==2.0.23
PyMySQL==1.1.0
mysql-connector-python==9.4.0

python-dotenv==1.0.0
requests==2.32.4
