<<<<<<< HEAD
body {
    background-color: whitesmoke;
}

form {
    background-color: rgb(22, 55, 80);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
=======
@import url('variables.css');

/*body {
    background-color: whitesmoke;
    background-image: url("./img/fnd.png")
}*/

.forma {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #262493, #0b0a26);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    z-index: 0;
}


form {
    background-color: var(--color-azul);
    padding: 20px;
    border-radius: 8px;
    box-shadow: -6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 6px 5px 0px rgba(0, 0, 0, 0.75);
>>>>>>> 8f4524cf1af715343c67c28340670e4c18aa869f
    color: white;
}

.login-container {
    margin-top: 200px;
<<<<<<< HEAD
    display: flex;
    justify-content: center;
    
    
=======
    font-size: 20px;
    display: flex;
    justify-content: center;



>>>>>>> 8f4524cf1af715343c67c28340670e4c18aa869f
}

.icono-login {
    margin-bottom: 10px;
<<<<<<< HEAD
    margin-left: 110px;
=======
    margin-left: 190px;
>>>>>>> 8f4524cf1af715343c67c28340670e4c18aa869f
}



<<<<<<< HEAD
h2{
=======
h2 {
>>>>>>> 8f4524cf1af715343c67c28340670e4c18aa869f
    text-align: center;
}

.primero {
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
<<<<<<< HEAD
=======

}

input {
    border-radius: 15px;
    border: none;
    padding: 7px;
    width: 270px;
>>>>>>> 8f4524cf1af715343c67c28340670e4c18aa869f
}

.segundo {

    margin-right: 40px;
    margin-left: 40px;
}

.tercero {

    margin-right: 40px;
    margin-left: 40px;
}

.ingresar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
<<<<<<< HEAD
    
}

button {
    background-color: rgb(22, 112, 181);
=======

}

button {
    background-color: rgba(11, 10, 38);
>>>>>>> 8f4524cf1af715343c67c28340670e4c18aa869f
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}

<<<<<<< HEAD
=======
form {
    width: 400px;
    border-radius: 50px;
    opacity: 0.97;
}
>>>>>>> 8f4524cf1af715343c67c28340670e4c18aa869f
