@import url('./variables.css');

/* tus estilos aquí */


body {
  font-family: Arial, sans-serif;
  background: #f6f6f6;
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.window {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-shadow: 0 2px 8px #aaa;
  padding: 24px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-name {
  font-size: 18px;
  font-weight: bold;
}

.window-controls span {
  font-size: 22px;
  margin: 0 4px;
}

/* Títulos */
h1 {
  text-align: center;
  margin-top: 0;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 16px;
}

/* Filtros */
.filtros {
  margin-bottom: 16px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.filtros input,
.filtros select,
.filtros button {
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.filtros button {
  background-color: var(--color-verde);
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

.filtros button:hover {
  background-color: #333945;
}

/* Tabla */
.tabla-contenedor {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 7px 10px;
  text-align: left;
}

th {
  background: #eee;
  font-weight: bold;
}

/* Fijar encabezado */
.tabla-contenedor table thead th {
  position: sticky;
  top: 0;
  background: #f4f4f4;
  z-index: 2;
}

/* Botones de acciones */
.btn-ver,
.btn-imprimir,
.btn-exportar {
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  text-decoration: none;
  border-radius: 6px;
  margin-right: 6px;
  transition: background-color 0.2s;
}

.btn-ver {
  background-color: #4caf50;
  color: white;
}

.btn-ver:hover {
  background-color: #45a049;
}

.btn-imprimir {
  background-color: #2196f3;
  color: white;
}

.btn-imprimir:hover {
  background-color: #1976d2;
}

.btn-exportar {
  background-color: var(--color-verde);
  color: white;
}

.btn-exportar:hover {
  background-color: var(--color-azul);
}

/* Acciones exportar */
.acciones-exportar {
  text-align: right;
  margin-top: 12px;
}




.btn-retroceso {
  background-color: #ffffff;
  color: black;
  border: none;
  font-size: larger;

}


.btn-retroceso:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);

}