 body {
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      background: #f9f9f9;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      background: #0A0F1C;
      COLOR: white;
    }

    header h2 {
      margin: 0;
    }

    .filters {
      display: flex;
      gap: 10px;
      margin: 20px;
    }

    select {
        margin-top: 20px;
      padding: 6px;
      font-size: 14px;
      background-color: #0A0F1C;
      color: #eee;
    }
    select:hover{
        background-color: white;
        color:#0A0F1C
    }

    .create-order {
      display: flex;
      justify-content: flex-end;
      margin: 20px;
    }

    .create-order button {
      padding: 10px 20px;
      border: black;
      background: #0A0F1C;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 4px;
    }
    button:hover {
      background-color: rgb(199, 197, 197);  
      color: black;             
    }
    

    .section-title {
      margin: 20px;
      font-weight: bold;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin: 0 20px 30px;
    }

    .card {
      border: 1px solid black;
      width: 180px;
      padding: 10px;
      background: #fff;
    }

    .card h4 {
      margin: 0 0 10px;
    }

    .card p {
      margin: 5px 0;
      font-size: 14px;
    }

    .garantia {
      margin-top: 10px;
      padding: 5px 10px;
      border: 1px solid #000;
      font-size: 12px;
      display: inline-block;
      background: #eee;
      border-radius: 3px;
    }

    /* Hover para resaltar tarjetas */
    .card:hover {
      background: white;
      transform: scale(1.02);
      transition: 0.2s;
      cursor: pointer;
    }




    /* MODALl */
    .modal {
      display: none;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.4);
      justify-content: center;
      align-items: center;
      color: #fff;
    }
    .modal-content {
      background: #0A0F1C;
      padding: 20px;
      border: 1px solid #FFD700;
      width: 400px;
      max-width: 90%;
    }
    .modal-content h2 {
      text-align: center;
      margin-bottom: 15px;
      color: #FFD700;
    }
    .modal-content label {
      display: block;
      margin-top: 10px;
    }
    .modal-content input, 
    .modal-content textarea {
      width: 95%;
      padding: 5px;
      margin-top: 5px;
      border: 1px solid #FFD700;
    }
    .modal-content button {
      display: block;
      margin: 15px auto 0;
      padding: 10px 20px;
      background-color: #FFD700;
      color: #0A0F1C;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      
    }
    .close {
      float: right;
      cursor: pointer;
      font-weight: bold;
    }




       @media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .container {
        padding: 10px;
    }
}