<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Control de Herramientas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='control_herramientas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>

<header>
    <a class="salir" href="{{ url_for('agregar_herramienta') }}">
        <i data-feather="arrow-left"></i>
    </a>
    <h2 class="SERVIMAQ">SERVIMAQ</h2>
    <div class="titulo">
        <h1>CONTROL DE HERRAMIENTAS</h1>
    </div>
    <div class="acciones"></div>
</header>

<script>feather.replace();</script>

<form action="/control_herramientas"  method="POST" style="padding:20px;">

    <table class="tabla-herramientas">
        <thead>
            <tr>
                <th>ID</th>
                <th>Herramienta</th>
                <th>Stock</th>
                <th>Faltantes</th>
            </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id_herr }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.cantidad_faltante }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div  class="btn-guardar" >
        <button type="submit" class="btn-small">Registrar Control</button>
    </div>

</form>

<h2 style="margin-top:40px; text-align:center;">Historial de Controles</h2>

<div class="historial-container">

    {% if historial %}
    <table class="tabla-herramientas historial">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Total Herramientas</th>
                <th>Total Faltantes</th>
                <th>Fecha</th>
            </tr>
        </thead>

        <tbody>
            {% for h in historial %}
            <tr>
                <td>{{ h.usuario }}</td>
                <td>{{ h.herramienta_total }}</td>
                <td>{{ h.herramienta_faltante }}</td>
                <td>{{ h.fecha }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="text-align:center;">No hay registros todavía.</p>
    {% endif %}

</div>

</body>
</html>
