<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar Devolución</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='devolucionmaterial.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <script src="https://unpkg.com/feather-icons"></script>
    
  </head>
  <body>

    <header class="header" >
      <a class="salir" href="pedido_compra"><i data-feather="arrow-left"></i></a>
      <h2 class="SERVIMAQ">SERVIMAQ</h2>
        <div class="titulo">
            <h1> Devolucion de material</h1>
        </div>
      </header>

    <div class="form-container">
      <h1>Registrar Devolución</h1>

      <!-- MENSAJES FLASH -->
      <section class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </section>

      <!-- FORMULARIO -->
      <form action="{{ url_for('devoluciones') }}" method="POST">
        <div class="form-group">
          <label for="compra_id">Código de Compra</label>
          <input type="text" id="compra_id" name="compra_id" placeholder="Ej: 10234" required />
        </div>

        <div class="form-group">
          <label for="razon">Razón de Devolución</label>
          <select id="razon" name="razon" required>
            <option value="">Seleccione una razón</option>
            <option value="danio">Daño</option>
            <option value="no_pago">No pagó</option>
            <option value="otro">Otro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="cantidad">Cantidad a devolver</label>
          <input type="number" id="cantidad" name="cantidad" placeholder="Ej: 10" required />
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción Detallada</label>
          <textarea id="descripcion" name="descripcion" rows="5" placeholder="Describe brevemente el motivo de la devolución..."></textarea>
        </div>

        <button type="submit" class="register-btn">Registrar Devolución</button>
      </form>
    </div>



<script>
      feather.replace();
</script>
  </body>
</html>