<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Venta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='editar_venta.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    {% include "alertas_flash.html" %}
    {% block content %}{% endblock %}


<a href="{{ url_for('salida_inventario') }}" class="volver" title="Volver">
    <i class="fa-solid fa-arrow-left btn-volver"></i>
    </a>

<div class="container">

    <h1>Editar Venta</h1>

    <!-- FORMULARIO PARA BUSCAR VENTA -->
    <form method="POST" action="{{ url_for('editar_venta') }}" class="buscar-form">
        <input type="number" name="id_buscar" placeholder="ID Venta" required>
        <button type="submit">Buscar</button>
    </form>

   {% if detalles %}

<form method="POST" action="{{ url_for('actualizar_venta') }}">

    <!-- ID VENTA (OBLIGATORIO) -->
    <input type="hidden" name="id_venta" value="{{ detalles[0].id_venta }}">

    <!-- CLIENTE (EDITABLE) -->
    <div class="fila">
        <label>ID Cliente</label>
        <input type="number" name="cliente_id"
               value="{{ detalles[0].cliente_id }}" required>
    </div>

    <!-- GARANTÍA (EDITABLE) -->
    <div class="fila">
        <label>Garantía</label>
        <input type="number" name="garantia"
            value="{{ detalles[0].garantias }}" min="0" required>
    </div>

    <h3>Productos</h3>

    <table>
        <thead>
            <tr>
                <th>ID Producto</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for d in detalles %}
            <tr>
                <td>
                    {{ d.producto_id }}
                    <input type="hidden" name="detalle_id[]" value="{{ d.id_detalle }}">
                </td>
                <td>
                    <input type="number" name="cantidad[]" min="1"
                           value="{{ d.cantidad }}" required>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="submit">Guardar Cambios</button>
</form>


{% endif %}


</div>
<script>
    feather.replace();
</script>

</body>
</html>
