<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Gestión de Inventario</title>
  <link rel="stylesheet" href="../static/exportar.css">
 
</head>
<body>
  <div class="container">
    <!-- Flecha en la esquina -->
    <a href="javascript:history.back()" class="back-arrow">←</a>

    <h1>Montallantas F.Y</h1>

    <!-- Importar -->
    <div class="card">
      <h2>Importación de Inventario</h2>
      <form action="/importar" method="post" enctype="multipart/form-data">
        <input type="file" name="archivo" accept=".csv,.xlsx">
        <button type="submit">Importar</button>
      </form>
    </div>

    <div class="card">
      <h2>Exportación de Inventario</h2>
      <div class="export-buttons">
        <a href="/exportar/pdf" class="btn pdf">Descargar PDF</a>
        <a href="/exportar/excel" class="btn excel">Descargar Excel</a>
      </div>
    </div>

   
  </div>
</body>
</html>
