<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Gestión de Clientes</title>
    <link rel="stylesheet" href="./static/Gestion_clientes.css" />
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    
        <div class="window">
          <header>
            <div class="window-name">SERVIMAQ</div>
            <div class="window-controls">
              <span onclick="window.location.href='{{ url_for('admin') }}'"><i data-feather="arrow-left"></i></span>
            </div>
          </header>
          <main>
            <h1>Gestión de Clientes</h1>
            <p class="subtitle">
              Visualiza y almacena los datos de los clientes, incluyendo sus
              contactos y transaccion
            </p>
            <div class="clientes-actions">
              <select onchange="location.href='/clientes?orden=' + this.value">
                <option value="">Buscar clientes…</option>
                <option value="az">A-Z</option>
                <option value="recientes">Recientes</option>
                <option value="antiguos">Antiguos</option>
              </select>
            </div>
            <div class="tabla-contenedor">
              <table>
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Modelo</th>
                    <th>Placa</th>
                    <th>ID</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for usuario in usuarios %}
                  <tr>
                    <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>{{ usuario.celular }}</td>
                    <td>{{ usuario.modelo }}</td>
                    <td>{{ usuario.placa }}</td>
                    <td>{{ usuario.id_cliente }}</td>
                    <td>
                      <button><i data-feather="edit"></i></button>
                      <button><i data-feather="trash"></i></button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="actions-icons"></div>
          </main>
        </div>

        <footer class="cerrar-sesion">
          <a href="./Admin"><i data-feather="arrow-left"></i></a>
        </footer>
      </main>
    </div>
    <script>
      feather.replace();
    </script>
  </body>
</html>
