<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Montallantas.F.Y</title>
    <link rel="stylesheet" href="./static/style.css" />
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <div class="contenedor">
      <aside class="sidebar">
        <h2>🚗 Montallantas.F.Y</h2>
        <nav>
          <ul>
            <li>
              <button  onclick="window.location.href='{{ url_for('listar_clientes') }}'"><i data-feather="truck"></i> Domicilios</button>
            </li>
            <li>
                    <div class="menu">
        <button onclick="window.location.href='{{ url_for('inventario') }}'" ><i data-feather="archive"></i> Inventario </button>
        <div class="menu-content">
            <span oneclick><i data-feather="archive"></i> Inventario</span oneclick>
              <span oneclick><i data-feather="file-plus"></i> Registrar Material</span oneclick>
             </div>
            </li>
            </li>
            <li>
              <button onclick="window.location.href='{{ url_for('clientes') }}'" ><i data-feather="users"></i> Clientes</button>
            </li>
            <li>
              <button ><i data-feather="file-text"></i> Empleados</button>
            </li>
            <li>
              <button onclick="window.location.href='{{ url_for('inventario') }}'"><i data-feather="tool"></i> Herramientas</button>
            </li>
            <li>
              <button><i data-feather="settings"></i> Configuración</button>
            </li>
          </ul>
        </nav>
      </aside>

      <main class="contenido">
        <header class="barra-superior">
          <div class="nav-iconos">
            <span><i data-feather="home"></i> Inicio</span>
            <span onclick="window.location.href='{{ url_for('agenda') }}'"
              ><i data-feather="calendar"></i> Agenda</span
            >
            
            <span class="dropdown">
            <i data-feather="file-text"></i> Reportes 
            <ul class="submenu">
            <li><a href="{{url_for('reporte_ventas')}}">Reportes  </a></li>
            <li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
            </ul>
            </span>

            <span
              onclick="window.location.href='{{ url_for('notificaciones') }}'"
              ><i data-feather="bell"></i>Notificaciones</span
            >
            <div class="menu">
              <div class="menu-button"><i data-feather="shopping-cart"></i> Ventas</div>
              <div class="menu-content">
             <a href="{{url_for('salida_inventario')}}"><span oneclick><i data-feather="shopping-cart"></i> Ventas</span oneclick></a>
              <span oneclick><i data-feather="check-square"></i> Ordenes</span oneclick>
             </div></div>

            <span onclick="window.location.href='{{ url_for('pedido_compra') }}'"
              ><i data-feather="clipboard"></i>Pedidos</span
            >
            <span onclick="window.location.href='{{ url_for('gestion_tickets') }}'"><i data-feather="info"></i> Info</span>
          </div>
          <div class="buscar">
            <input type="search" placeholder="Buscar..." class="buscador" />
            <i data-feather="search" class="icono-busqueda"></i>
            <i data-feather="user" class="icono-usuario"></i>
          </div>
        </header>

        <section class="mensaje">
          <div class="caja-bienvenida">
            <strong> ¡Bienvenido Administrador! </strong>
          </div>
        </section>

        <footer class="cerrar-sesion">
          <a href="login"><i data-feather="arrow-right"></i></a>
        </footer>
      </main>
    </div>

    <script>
      feather.replace();
    </script>
  </body>
</html>
