<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de Herramientas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='inventario_herramientas.css') }}">  
</head>
<body>

    <a href="{{ "/" }}" class="volver" title="Volver">
    <i class="fa-solid fa-arrow-left"></i>
    </a>


    <h1>Gestión de Inventario de Herramientas</h1>
    
    <div style="margin-bottom: 20px;">
    <a href="{{ url_for('retiro_herramienta') }}" class="button">Ir a Retiro</a>
    <a href="{{ url_for('reintegro') }}" class="button">Ir a Reintegro</a>
    </div>


    <!-- Formulario r -->
    <h2>Agregar Herramienta</h2>
    <form  class="Form_Agregar" action="/agregar_herramienta" method="post">

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" required></textarea>

        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" required>

        <label for="estado">Estado:</label>
        <input type="text" id="estado" name="estado" required>
o
        <label for="usuario_id">ID de Usuario:</label>
        <input type="number" id="usuario_id" name="usuario_id" required>

        <button type="submit">Registrar</button>
    </form>


    <h2>Buscar Herramientas</h2>
    <form action="/buscar_herramienta" method="get">
        <label for="buscar_nombre">Buscar por Nombre:</label>
        <input type="text" id="buscar_nombre" name="nombre">
        <button type="submit">Buscar</button>
    </form>

    <!-- Tabla para mostrar los resultados de la base de datos -->
    <h2>Resultados de Inventario</h2>
    <table>
        <thead>
            <tr>
                <th>ID de Herramienta</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Estado</th>
                <th>ID de Usuario</th>
            </tr>
        </thead>
        <tbody>
            {% if items %}  
                {% for item in items %}  
                    <tr>
                        <td>{{ item.id_herr }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>{{ item.estado }}</td>
                        <td>{{ item.usuario_id }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">No se encontraron resultados.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>
