<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        
        <form action="http://localhost:5000/login" method="post">
            <h2>Login</h2>
            <div class="icono-login">
            <img src="./static/img/usuario.png" alt="Buscar"  />
            </div>
            <div class="primero">
            
            <label for="username">Usuario:</label><br>
            <input type="text" id="username" name="username" required><br>
            </div>
            <div class="segundo">
            <label for="password">Contraseña:</label><br>
            <input type="password" name="password" name="password" required pattern="^(?=.*[A-Z])(?=(?:.*\d){3})(?!.*(\d).*\1).{8,}$"
            title="Debe tener mínimo 8 caracteres, al menos una mayúscula y 3 números no repetidos"><br>
            <a href="/register">¿No tienes usuario?</a>
            </div>
            <div class="ingresar">
            <button   type="submit">Ingresar</button>
            </div>
            
        </form>
</body>
</html>
