<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reintegro de Herramienta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inventario_herramientas.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://unpkg.com/feather-icons"></script>

</head>
<body>
        {% include "alertas_flash.html" %}
    {% block content %}{% endblock %}

  <header>
    <a class="salir" href="{{ url_for('agregar_herramienta') }}"><i data-feather="arrow-left"></i></a>
    <h2 class="SERVIMAQ">SERVIMAQ</h2>
    <div class="titulo">
      <h1>Reintegro de herramienta</h1>
    </div>
  </header>


    <form action="/reintegro" method="post">
        <label for="id_herr">ID de Herramienta:</label>
        <input type="number" id="id_herr" name="id_herr" required>

        <label for="cantidad_reintegro">Cantidad a Reintegrar:</label>
        <input type="number" id="cantidad_reintegro" name="cantidad_reintegro" required>

        <button type="submit">Registrar Reintegro</button>
    </form>

<script>
    feather.replace()
  </script>
</body>
</html>
