<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salida de Herramienta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inventario_herramientas.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>

        {% include "alertas_flash.html" %}
    {% block content %}{% endblock %}

    <a href="agregar_herramienta" class="salir" title="Volver">
    <i class="fa-solid fa-arrow-left"></i>
    </a>
    <h1>Salida de Herramienta</h1>
    <form action="/retiro_herramienta" method="post">
        <label for="id_herr">ID de la Herramienta:</label>
        <input type="number" id="id_herr" name="id_herr" required>

        <label for="cantidad_salida">Cantidad a Salir:</label>
        <input type="number" id="cantidad_salida" name="cantidad_salida" required>

        <button type="submit">Registrar Salida</button>
    </form>
</body>
</html>
